[Unit]
Description=Backhaul Watchdog Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /etc/backhaul-watchdog/backhaul.sh run
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
