[Unit]
Description=Backhaul Watchdog Service for Monitoring Tunnels
After=network-online.target
Requires=network-online.target
Wants=backhaul.service

[Service]
Type=simple
ExecStart=/usr/local/bin/backhaul_watchdog/backhaul_watchdog.sh --watchdog
Restart=always
RestartSec=3
LimitNOFILE=1048576
SuccessExitStatus=0
RestartPreventExitStatus=0

[Install]
WantedBy=multi-user.target