[Unit]
Description=Timer for Backhaul Watchdog Service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
Unit=backhaul_watchdog.service

[Install]
WantedBy=timers.target