[Unit]
Description=Timer for Backhaul Watchdog Service
After=network-online.target
Requires=network-online.target

[Timer]
OnUnitActiveSec=30s
OnBootSec=60s
Persistent=true
Unit=backhaul-watchdog.service

[Install]
WantedBy=timers.target